.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }


.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
  max-height: 300px;
}

img.img-responsive{
  margin: auto auto;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  #myCarousel {
    display: none;
  }
}
@media (min-width: 600px) {
  #smallScreen {
    display: none;
  }
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-inverse{
  background-color: #22333B;
  border-color: #22333B;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
  background-color: #19262B;
}

body{
  font-family: sans-serif;
}

/* Footer */
footer {
  background-color: #C2C7C9;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0px;
}

/* Headers */

h1, h2, h3, h4 {
  font-family: 'Arial';
  font-weight: bold;
}

h3 {
  font-size: 40px;
}
