<div class="container text-center">
  <h3>Welcome to the TODO list app!</h3><br>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2>Login to start using TODO list app!</h2>
      <p>Start using the todo list app by pressing 'Login' at the top navbar, <br> and entering the account preset or: <br> create your own account by clicking 'Sign Up' and entering you login details.</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <h2>Web Technology!</h2>
      <p>This app is an assignment for the course Web Technology at the TU/e. </p>
    </div>
  </div>
</div>
